body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	--font-text-theme: inter, serif;
  
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.theme-dark {
    /* Fondos */
    --background-primary: #0F172A;
    --background-secondary: #10203b;
		--ribbon-background: #0b2a559f;
		--titlebar-background: #0F172A;
    --titlebar-background-focused: #10203b;
    --titlebar-border-color: #334155;
    --titlebar-text-color: #94A3B8;
    --titlebar-text-color-focused: #F1F5F9;
    --header-height: 40px;
}

.theme-light {
	--background-primary: #F0F9FF;
  --background-secondary: #E0F2FE;
	--ribbon-background: #a1d4f6;
  --titlebar-background-focused: #E0F2FE;
    --titlebar-border-color: #BAE6FD;
    --titlebar-text-color: #3971c0;
    --titlebar-text-color-focused: #183475; /* Btns wind */
    --header-height: 40px;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
