// Tabs
.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

// SVG (bor sqar)
svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}